<%- include("header") -%>

    <h2>This is the about page</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia laborum expedita, cum quas enim laudantium.
        Deleniti animi illo dignissimos culpa, earum blanditiis consequatur ipsam, veniam saepe ab aliquam iure!
        Placeat!
        Tempore hic dolore, excepturi dolores reiciendis omnis veniam mollitia quia ipsum deserunt vero placeat, tempora
        aut. Tempore repellendus illum vero amet quam fuga a esse dolore asperiores placeat. Ratione, nobis.
    </p>

    <%- include("footer") -%>